<a href="https://colab.research.google.com/github/Guidin007/Project_data/blob/main/car_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importar bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
# Instead of importing plot_confusion_matrix, import ConfusionMatrixDisplay
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn import tree
from sklearn.model_selection import train_test_split

In [ ]:
# Vincular disco
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# leer archivo csv
df = pd.read_csv("/content/drive/MyDrive/2025/Bootcamp/car price prediction/car_price_dataset.csv")
df.head()

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867

In [ ]:
brand_counts = df[['Brand', 'Model', 'Mileage', 'Price']].value_counts()
brand_counts = brand_counts.sort_values(ascending=False)
print(brand_counts)

Brand       Model   Mileage  Price
Audi        A3      184      13096    1
                    8196     11136    1
                    16100    7478     1
                    3514     9529     1
                    3918     6921     1
                                     ..
Volkswagen  Tiguan  286604   7367     1
                    287278   7854     1
                    288928   2721     1
                    291373   7572     1
                    295496   7990     1
Name: count, Length: 10000, dtype: int64